.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #7f889b;

    color: white;

    padding: 18px 30px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.user {
    font-size: 18px;
}