.sidebar {
    width: 220px;
    background: #1e3a5f;
    min-height: 100vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    color: white;
    margin-bottom: 25px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background: #2f5f94;
}

.sidebar .active {
    background: #1565c0;
}